body{background-image:url(blue_lines_material_design_background_paper_texture_hd_abstract-2560x1440.jpg)
}
div{background-image: url(https://i3.wp.com/cdn.pixabay.com/photo/2016/03/22/15/29/blue-1273089_1280.jpg?ssl=1);width: 380px;
     height: 600; 
     margin: auto; 
     border-radius: 20px; 
     padding: 50px;
    }
h1{color:black; 
    text-align: center;
}
p{margin-left: 5px
}