*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#54162B,#B4182D);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

select{
    width: 180px;
    height: 80px;
    border-radius: 15px;
    border:none;
    box-shadow: 6px 6px 40px yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    padding: 20px;
    outline: none;

}