*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: black;
    transition: 3s;
    transition-delay: 1s;
    
}

div:hover{
    transform:rotate(2880deg) translate(200px);
    border-radius: 50%;
    background-color: red;
}