*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto" , serif;
    background-color: white;
    
}

.header_1{
    width: 100%;
    /* height: 600px; */
    background-image: url(images/background.svg);
    background-size: cover;
    padding: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.header_div_1{
    width: 100%;
    height: 80px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_div_2{
    width: 70%;
    height: 100px;
    background: none;
    padding: 55px 0px 10px 100px;
    
}
.header_div_3{
    width: 30%;
    height: 100px;
    background: none;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 50px 70px 10px 0px;

}

.div_button_1{
    width: 210px;
    height: 46px;
    border: none;
    border-radius: 23px;
    background-color: white;
    font-weight:600; 
    font-size: 0.9rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.105);
}


.header_div_4{
    width: 100%;
    height: 500px;
    background: none;
    display:flex;

}

.header_div_5{
    width: 50%;
    height: 100%;
    background: none;
    padding: 70px 0px 100px 90px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}


.header_div_6{
    width: 50%;
    height: 100%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 0px 
}

.div_h1{
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 50px;
}

.div_button_2{
    width: 260px;
    padding: 17px;
    border: none;
    border-radius: 24px;
    background-color: #fe52c0;
    color: white;
    font-size: 14px;
    font-weight: 550;

}

.div_P{
    font-size: 1rem;
    line-height: 25px;
    /* opacity: 70%; */
    color: #3d565d
}


.body_div_1{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 150px 50px 50px 50px ;


}

.body_div_2{
    width: 80%;
    height: 400px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.086);
    border-radius: 15px;
}

.div_4{
    width: 50%;
    height: 100%;
    justify-content: center;
    padding: 0px 0px 0px 120px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.div_P2{
    color: #aeaeb0;
    font-size: 1.1rem;
    line-height: 25px;
    font-weight: 500;
}