*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(178, 178, 178, 0.442);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    width:250px;
    height: 45px;
    border-radius:14px;
    background-color: white;
    box-shadow:  6px 6px 40px blue;
}