*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


button{
    padding: 10px;
    border: 2px solid black;
    box-shadow: 10px 10px 60px yellow, 
    -10px -10px 60px green;
    border-radius: 10px;
    font-size: 1rem;
    background-color: white;
    transition: 1s;
}


button:hover{
    background-color: black;
    color:white;
    transform: scale(1.6)
}

button:active{
    background-color: blue;
    
}