*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.child{
    width:100px;
    height:100px;
    background-color: blue;
    display:grid;
    grid-template-columns: auto-fill;
    gap:10px
}

@media(max-width:700px){
    .parent{
        display:grid;
        grid-template-columns: 200px 200px 200px;
    }
}
@media(max-width:450px){
    .parent{
        display:grid;
        grid-template-columns: 200px ;
    }
}