*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#ED9E59, #A34054);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header{
    width: 100%;
    height: 100px;
    background-color: #E9BCB9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    font-size: 1.1rem;
    cursor:pointer;
    font-family: "Roboto" ;
    font-weight: 800;
}
span:hover{

    transform: scale(1.2);
    transition: 1s all;
}
.box00{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

span{
    font-size: 2rem;
    cursor: pointer;
    font-family: "Roboto" ;
    font-weight: 800;
}

span:hover{

    transform: scale(1.2);
    transition: 1s all;
}

h1{
    font-size: 2rem;
    text-shadow: 2px 2px 5px #A34054;
    font-family: "Roboto" ;
    cursor:pointer;
    transition:  2s all;
    color: black;
}