*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h1{
    color: black;
    font-size: 40px;
    transition: 0.5s;
    animation-duration: 1s;
    animation-name: colorchange;
    
}

@keyframes colorchange{
    from{
        color: black;
    }
    to{
        color: red;
    }
}