*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


div{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: 2s;
    animation-name: changecolor;
    animation-duration: 2s;

}

@keyframes changecolor{
    from{
        background-color: red;
        transform: scale(2);
    }
    to{
        transform: scale(0.5);
        background-color: blue;
    }
}